<!-- templates/tasks/edit_task.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Editor de tareas{{ project.name }}{% endblock %}

{% block content %}
<div class="body">
    <h2>Tarea: {{ task.title }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <label for="id_project">Proyecto:</label>
        <div class="form-group">
            {{ form.project }}
        </div>
        <label for="title">Título:</label>
        <div class="form-group">
            {{ form.title }}
        </div>
        <label for="id_asignee">Persona asignada:</label>
        <div class="form-group">
            {{ form.asignee }}
        </div>
        <label for="description">Descripción tarea:</label>
        <div class="form-group">
            {{ form.description }}
        </div>
        <label for="state">Estado:</label>
        <div class="form-group">
            {{ form.state }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

{% endblock %}