<!-- templates/tasks/all_users.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Listado de usuarios{% endblock %}

{% block content %}

<div class="toolbar">
    <div class="in_line">
        <div class="space">
            <label class="labeltitle">Usuarios</label>
        </div>
    </div>
    <div class="in_line">
        <form id="changelist-search" method="get" role="search">
            <div class="search">
                <input type="text" size="40" name="q" value="" id="searchbar">
                <input type="submit" value="Buscar">
            </div>

        </form>
    </div>
</div>

<div class="titlerow">
    <div style="width: 50%;">Usuario</div>
    <div style="width: 50%;">Email</div>
</div>

{% for user in users %}
    <div class="row">
        <div style="width: 50%;">{{ user.name }}</div>
        <div style="width: 50%;">{{ user.email }}</div>

    </div>
{% endfor %}
{% if not users %}
    <div class="row">No hay usuarios disponibles.</div>

{% endif %}


{% endblock %}